node-red/flow.json
[
  {
    "id": "aiot-flow-tab",
    "type": "tab",
    "label": "AIoT Detection",
    "disabled": false,
    "info": "YOLO ONNX MQTT detection dashboard"
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "host.docker.internal",
    "port": "1883",
    "clientid": "node-red-aiot-dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "dashboard-tab-aiot",
    "type": "ui_tab",
    "name": "AIoT AMR Safety",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dashboard-group-status",
    "type": "ui_group",
    "name": "Detection Status",
    "tab": "dashboard-tab-aiot",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt-in-detection",
    "type": "mqtt in",
    "z": "aiot-flow-tab",
    "name": "aiot/detection",
    "topic": "aiot/detection",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 100,
    "wires": [["function-format-dashboard"]]
  },
  {
    "id": "function-format-dashboard",
    "type": "function",
    "z": "aiot-flow-tab",
    "name": "Format dashboard fields",
    "func": "const p = msg.payload || {};\nconst objects = Array.isArray(p.objects) ? p.objects : [];\nconst counts = {};\nfor (const obj of objects) {\n    counts[obj.class] = (counts[obj.class] || 0) + 1;\n}\nconst objectSummary = Object.keys(counts).length\n    ? Object.entries(counts).map(([k, v]) => `${k}: ${v}`).join(', ')\n    : 'none';\nconst risk = p.risk_level || 'UNKNOWN';\nconst color = risk === 'STOP' ? '#d32f2f' : risk === 'SLOW' ? '#f9a825' : '#2e7d32';\nconst riskHtml = `<div style=\"font-size:42px;font-weight:700;color:${color};text-align:center;\">${risk}</div>`;\nreturn [\n    { payload: riskHtml },\n    { payload: Number(p.fps || 0) },\n    { payload: objectSummary },\n    { payload: p.reason || '' },\n    { payload: JSON.stringify(p, null, 2) }\n];",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [
      ["ui-template-risk"],
      ["ui-gauge-fps"],
      ["ui-text-objects"],
      ["ui-text-reason"],
      ["debug-payload"]
    ]
  },
  {
    "id": "ui-template-risk",
    "type": "ui_template",
    "z": "aiot-flow-tab",
    "group": "dashboard-group-status",
    "name": "Risk Level",
    "order": 1,
    "width": "6",
    "height": "2",
    "format": "<div ng-bind-html=\"msg.payload\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 650,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "ui-gauge-fps",
    "type": "ui_gauge",
    "z": "aiot-flow-tab",
    "name": "FPS",
    "group": "dashboard-group-status",
    "order": 2,
    "width": "6",
    "height": "2",
    "gtype": "gage",
    "title": "FPS",
    "label": "frames/sec",
    "format": "{{value}}",
    "min": 0,
    "max": "30",
    "colors": ["#d32f2f", "#f9a825", "#2e7d32"],
    "seg1": "5",
    "seg2": "15",
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui-text-objects",
    "type": "ui_text",
    "z": "aiot-flow-tab",
    "group": "dashboard-group-status",
    "order": 3,
    "width": "12",
    "height": "1",
    "name": "Objects",
    "label": "Objects",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui-text-reason",
    "type": "ui_text",
    "z": "aiot-flow-tab",
    "group": "dashboard-group-status",
    "order": 4,
    "width": "12",
    "height": "1",
    "name": "Reason",
    "label": "Reason",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 660,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-payload",
    "type": "debug",
    "z": "aiot-flow-tab",
    "name": "Raw payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 220,
    "wires": []
  }
]
